
<h3>Заполните форму для подсчёта:</h3>
<form asp-action="CalculationOfTheInterest" asp-controller="Chart">
    <div class="form-group">
        <label class="control-label">Еда:</label>
        <input type="number" name="food" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Автомобиль:</label>
        <input type="number" name="car" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Транспорт:</label>
        <input type="number" name="trasport" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Кредиты:</label>
        <input type="number" name="loans" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Коммунальные услуги:</label>
        <input type="number" name="utilities" class="form-control" />

    </div>
    <div class="form-group">
        <label class="control-label">Прочее:</label>
        <input type="number" name="other" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Построить график" class="btn btn-info" />
    </div>
</form>

